<!-- BEGIN: Annotaiton list -->
<div class="filter-panel">
  <div class="filter-title clearfix">
    <div class="text left">Annotation List</div>
  </div>
  <div id="annoattion-list-scroller">
		<ul class="stack button-group" id="annotation-list"></ul>
	</div>
</div>
<!-- END: Annotaiton list -->
