<!-- BEGIN: Annotaiton list -->
<div class="row">
	<div class="small-12 columns">
		<div class="annotation-title">Annotation List</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="annoattion-list-scroller">
			<ul class="stack button-group" id="annotation-list"></ul>
		</div>
	</div>
</div>
<!-- END: Annotaiton list -->
