<!-- BEGIN: Start analysis -->
<div id="filter-start-button-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Start Filter</div>
        </div>
        <div class="filter-content">
          <div id="filter-start-button"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Start analysis -->

<!-- BEGIN: Chia Version filter -->
<div id="filter-chia-versions-localization-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Chia Version Filter (for Localization)</div>
        </div>
        <div class="filter-content">
          <div id="filter-chia-versions-localization-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Chia Version filter -->

<!-- BEGIN: Detectable filter -->
<div id="filter-detectables-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Detectables Filter</div>
        </div>
        <div class="filter-content">
          <div id="filter-detectables-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Detectable filter -->

<!-- BEGIN: Localization filter -->
<div id="filter-localization-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Localization Filter</div>
        </div>
        <div class="filter-content">
          <div id="filter-localization-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Localization filter -->

<!-- BEGIN: Video Filter -->
<div id="filter-videos-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Video Filter</div>
        </div>
        <div class="filter-content">
          <div id="filter-videos-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Video filter -->

<!-- BEGIN: Chia Annotation Filter -->
<div id="filter-chia-versions-annotation-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Chia Version Filter (for Annotation)</div>
        </div>
        <div class="filter-content">
          <div id="filter-chia-versions-annotation-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Video filter -->

<!-- BEGIN: Data loader filter -->
<div id="filter-data-loader-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Load Data</div>
        </div>
        <div class="filter-content">
          <div id="filter-data-loader-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Data loader filter -->
