<!-- BEGIN: Select chia version -->
<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<div class="filter-title">Select Chia Version</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<form id="filter-chia-version-ids-selection"></form>
			</div>
		</div>
	</div>
</div>
<!-- END: Select chia version -->

<!-- BEGIN: Select detectables -->
<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<div class="filter-title">Select Detectables</div>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<form id="filter-detectable-ids-selection"></form>
			</div>
		</div>
	</div>
</div><!-- END: Select detectables -->

