<!-- BEGIN: Scale selection for heatmap -->
<div id="filter-frame-scale-selection-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Select Scale</div>
        </div>
        <div class="filter-content">
          <div id="filter-frame-scale-selection-table"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Scale selection for heatmap -->

