<!-- BEGIN: Select localization score range -->
<div class="row">
	<div class="small-12 columns">
		<div class="row">
			<div class="small-12 columns">
				<div class="filter-title">Localization Score Range</div>
			</div>
		</div>
		<div class="row">
			<div class="small-6 columns">
				<div  class="range-slider" id="localization-score-range-slider"></div>
			</div>
			<div class="small-6 columns">
				<input type="text" id="localization-score-range-display" readonly>
			</div>
		</div>
		<div class="row">
			<div class="small-12 columns">
				<div id="zdisth-thresh-range-display"></div>
			</div>
		</div>
		<div class="row">
			<div class="small-10 columns"></div>
			<div class="small-2 columns">
				<div class="button small success" id="submit-localization-score-range">Submit</div>
			</div>
		</div>
	</div>
</div>
<!-- END: Select localization score range -->
