<!-- BEGIN: Video related information -->
<div id="filter-status-video-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Current video status</div>
        </div>
        <div class="filter-content">

<table>
  <thead>
    <tr>
      <td>Item</td> <td>State</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Video Collection Id</td> <td><div id="filter-status-video-collection-id"></div></td>
    </tr>
    <tr>
      <td>Video Collection Frame Number</td> <td><div id="filter-status-video-collection-frame-number"></div></td>
    </tr>
    <tr>
      <td>Video Collection Frame Time [hrs:min:sec.msec]</td> <td><div id="filter-status-video-collection-frame-time"></div></td>
    </tr>

    <tr>
      <td>Video Quanta Id</td> <td><div id="filter-status-video-quanta-id"></div></td>
    </tr>
    <tr>
      <td>Video Quanta Frame Number</td> <td><div id="filter-status-video-quanta-frame-number"></div></td>
    </tr>
    <tr>
      <td>Video Quanta Frame Time [hrs:min:sec.msec]</td> <td><div id="filter-status-video-quanta-frame-time"></div></td>
    </tr>
  </tbody>
</table>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: Video related information -->
