<!-- BEGIN: Video Decorations -->
<div class="row">
	<div class="small-12 columns">
		<div id="video-controls-player">

			<ul class="button-group round even-6">
				<li>
					<div class="button tiny" id="player-first" title="Jump to first video">
						<i class="fi-previous"></i>
					</div>
				</li>
				<li>
					<div class="button tiny" id="player-rewind" title="Skip few seconds backward">
						<i class="fi-rewind"></i>
					</div>
				</li>
				<li>
					<div class="button tiny" id="player-pause" title="Pause playback">
						<i class="fi-pause"></i>
					</div>
				</li>
				<li>
					<div class="button tiny" id="player-play" title="Start playback">
						<i class="fi-play"></i>
					</div>
				</li>
				<li>
					<div class="button tiny" id="player-fast-forward" title="Skip few seconds forward">
						<i class="fi-fast-forward"></i>
					</div>
				</li>
				<li>
					<div class="button tiny" id="player-last" title="Jump to last video">
						<i class="fi-next"></i>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
		<div id="video-controls-chart">Video controls chart</div>
	</div>
</div>
<!-- END: Video Decorations -->
