<div id="canvases">
	<!-- Absolutely positioned canvases on top of each other -->
	<canvas id="videoFrameCanvas" width="1280" height="720"></canvas>
	<canvas id="heatmapCanvas" width="1280" height="720"></canvas>
	<canvas id="localizationCanvas" width="1280" height="720"></canvas>
	<canvas id="annotationCanvas" width="1280" height="720"></canvas>
</div>
