<!-- BEGIN: Video display -->
<div class="row">
  <div class="small-10 columns">
		<div class="row">
		  <div class="small-12 columns">
		  	<div class="centered">
				  <canvas id="videoFrameCanvas" width="1280" height="720"/>
		  	</div>
		  </div>
		</div>
		<div class="row">
		  <div class="small-12 columns">
			  
		  </div>
		</div>
  </div>
  <div class="small-2 columns">
	  <%= render 'annotation_list' %>
  </div>
</div>
<!-- END: Video display -->