<div class="row">
  <div class="small-12 columns">
    <h3>Iteration Setup: <%= "#{@iteration.name} [#{@iteration.major_chia_version_id}.#{@iteration.minor_chia_version_id}]" %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
