<div class="row">
  <div class="small-12 columns">
    <h3>Cellroti Export Setup: <%= @cellroti_export.name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <%= yield %>
  </div>
</div>
