<!-- BEGIN: Layout -->
<%= render :layout => 'export/export_setup/common/outershell' do %>
  <div class="row">
    <div class="small-12 columns">
      <div class="filter-panel">
        <div class="filter-title clearfix">
          <div class="text left">Cleanup</div>
        </div>
        <div class="filter-content">

<!-- BEGIN: Content -->
<%= form_tag wizard_path, :method => :put do %>

<div class="row">
  <div class="small-12 columns">
    <p>Clicking on next will clean up all temporary files and complete this export.</p>
  </div>
</div>

  <%= render 'export/export_setup/common/common_buttons' %>
<% end %>
<!-- END: Content -->

        </div>
      </div>
    </div>
  </div>  
<% end %>
<!-- END: Layout -->