@import 'foundation_and_overrides';

.checkbox_container {
	list-style-type: none;
}

form.simple_form .datetime{
	select {
	  width: 15%;
	  margin-right: 5px;
	  float: left;
	}
	@include clearfix;
}
