<% breadcrumb :team, @team %>

<p>
  <strong>Team Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Icon path:</strong>
  <%= @team.icon_path %>
</p>

<%= link_to 'Cancel', stream_league_path(@team.league), class: "button alert" %>
